{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      {{link-to 'Julz' 'application' }}
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true href="https://github.com/djsegal/Julz.jl" target="_blank"}}
      {{fa-icon "github" size=2}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
