{{#docs-body bodyTitle="The New Command"}}

  <h3>
    Command:
  </h3>

  {{#code-block language='julia'}}

Julz.new(pkg_name, license)
  {{/code-block}}

  <br>

  <h3>
    Description:
  </h3>

  <p>

    Starts a new Julia package using

    <a target="_blank" href="https://github.com/JuliaLang/PkgDev.jl#generatepkg-license">
      PkgDev.jl</a>.

  </p>

  <p>

    After creation, calls

    {{link-to 'init' 'commands.init' }}

    command to add Julz structure.

  </p>

  <br>

  {{paper-divider}}

  <br>

  <h3>
    Parameter(s):
  </h3>

  {{#paper-data-table as |table|}}

    {{#table.head as |head|}}
      {{#head.column}}Name{{/head.column}}
      {{#head.column}}Value{{/head.column}}
    {{/table.head}}

    {{#table.body as |body|}}

      {{#body.row as |row|}}
        {{#row.cell}} <code>pkg_name</code> {{/row.cell}}
        {{#row.cell}} name of package {{/row.cell}}
      {{/body.row}}

      {{#body.row as |row|}}
        {{#row.cell}} <code>license</code> {{/row.cell}}
        {{#row.cell}} code license, i.e. "MIT" {{/row.cell}}
      {{/body.row}}

    {{/table.body}}

  {{/paper-data-table}}

  <br>

  <h3>
    Source:
  </h3>

  <ul>
    <li>
      <a target="_blank" href="https://github.com/djsegal/Julz.jl/blob/master/src/functions/new.jl">
        src/functions/new.jl
      </a>
    </li>
  </ul>

{{/docs-body}}
