$accent: "grey";
$warn: "teal";

@import 'ember-paper';

.cs-full-area {
  height: 100%;
  width: 100%;
}

html, body {
  @extend .cs-full-area;
  background-color: color($warn, '100');
}

body > .ember-view {
  display: flex;
  flex-direction: column;
  @extend .cs-full-area;
}

.inner-sidenav {
  display: flex;
}

.cs-sidenav__header {
  background-color: color($accent, '300');
}

.cs-sidenav__header img {
  width: 72%;
}

.inner-sidenav .active {
  background-color: color($accent, '200');
}

.submenu-item .md-list-item-inner {
  padding-left: 16px;
}

md-card {
  flex: 1 0;
  margin: 20px;
}

.inner-sidenav md-icon {
  margin-right: 6px !important;
}

.cs-flex {
  display: flex;
  flex: 1 0;
}
